@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #000000;
    color: #00ff00;
}

h1, h2, h3, p {
    text-shadow: 0 0 5px #00ff00;
}

.card {
    border: 1px solid #00ff99;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #1a1a1a;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #00ff99;
}

